/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.woff2");
  src: url("/assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Regular.woff2");
  src: url("/assets/fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Medium.woff2");
  src: url("/assets/fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Bold.woff2");
  src: url("/assets/fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font: 400 normal 1.6rem "Poppins", sans-serif;
  background-color: #ECF7F3;
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.backLayer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.backLayer_active {
  display: block;
}

.wrapper {
  max-width: 1400px;
  padding: 0 14.6rem;
  height: 100vh;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .wrapper {
    padding: 0 10vw;
  }
}
@media screen and (max-width: 550px) {
  .wrapper {
    padding: 0 5vw;
  }
}

h1 {
  font: 700 normal 4.8rem "Poppins", sans-serif;
  line-height: 6.5rem;
  color: #2D2D2D;
}
@media screen and (max-width: 640px) {
  h1 {
    font: 700 normal 3.5rem "Poppins", sans-serif;
    line-height: 4.5rem;
  }
}
@media screen and (max-width: 385px) {
  h1 {
    font: 700 normal 3rem "Poppins", sans-serif;
    line-height: 4rem;
  }
}

h2 {
  font: 500 normal 2.5rem "Poppins", sans-serif;
  color: #2D2D2D;
}

.span_orange {
  color: #FF8345;
}

.no-display {
  display: none;
}

.button {
  font-size: 1.6rem;
  color: #FFFFFF;
  background-color: #48B774;
  padding: 0.9rem 2.3rem;
  border-radius: 2.5rem;
}
.button_long {
  font-size: 1.5rem;
  color: #FFFFFF;
  background-color: #48B774;
  padding: 1.2rem 2.2rem;
  border-radius: 2.7rem;
}
.button_circle {
  font-size: 1.6rem;
  color: #FFFFFF;
  background-color: #48B774;
  padding: 1.5rem 1.5rem;
  border-radius: 3.1rem;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  color: #2D2D2D;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 3rem;
}
@media screen and (max-width: 1220px) {
  .header {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1130px) {
  .header {
    position: relative;
  }
}

.header__menuButton {
  display: none;
  z-index: 3;
}
@media screen and (max-width: 1130px) {
  .header__menuButton {
    display: block;
    margin-left: auto;
    transform: rotate(180deg);
  }
}

.header__menu {
  margin-left: 26.7rem;
}
@media screen and (max-width: 1220px) {
  .header__menu {
    margin-left: auto;
  }
}
@media screen and (max-width: 1130px) {
  .header__menu {
    position: absolute;
    z-index: 3;
    top: -300px;
    left: 50%;
    transform: translate(-50%, 30%);
    opacity: 0;
    transition-property: top, opacity;
    transition-duration: 1s;
  }
  .header__menu_opened {
    top: 45px;
    opacity: 1;
    transition-property: top, opacity;
    transition-duration: 1s;
  }
}

.header__button {
  margin-left: auto;
}

.menu {
  width: 365px;
}
@media screen and (max-width: 1130px) {
  .menu {
    max-width: none;
    width: 75%;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1130px) {
  .menu__list {
    display: flex;
    flex-direction: column;
  }
}

.menu__listItem_active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 21px;
  padding-top: 2px;
  border-bottom: 2px solid #FF8345;
}
@media screen and (max-width: 1130px) {
  .menu__listItem_active::after {
    display: none;
  }
}
@media screen and (max-width: 1130px) {
  .menu__listItem_active {
    filter: contrast(130%);
  }
}
@media screen and (max-width: 1130px) {
  .menu__listItem {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
    background-color: antiquewhite;
  }
}

.menu__link {
  color: #4A4A4A;
  display: block;
}

.main {
  position: relative;
  display: block;
  margin-top: 121px;
}
@media screen and (max-width: 1130px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .main {
    margin-top: 90px;
  }
}
@media screen and (max-width: 385px) {
  .main {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1130px) {
  .main__promo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main__searchForm {
  margin-top: 50px;
}
@media screen and (max-width: 1130px) {
  .main__searchForm {
    display: flex;
    align-items: center;
  }
}

.main__subscription {
  margin-top: 40px;
}
@media screen and (max-width: 1130px) {
  .main__subscription {
    justify-content: center;
  }
}

.main__solarPositionWrapper {
  width: 450px;
  height: 450px;
  position: absolute;
  top: -40px;
  right: -20px;
}

@media screen and (max-width: 1130px) {
  .promo__h1 {
    text-align: center;
  }
}

.promo__paragraph {
  font: 500 normal 1.5rem "Poppins", sans-serif;
  color: #7C7C7C;
  margin-top: 6px;
  width: 444px;
  line-height: 2.6rem;
}
@media screen and (max-width: 1130px) {
  .promo__paragraph {
    margin-top: 31px;
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .promo__paragraph {
    width: 80%;
    text-align: justify;
  }
}

.promo__button {
  margin-top: 31px;
}

.searchForm {
  font: 400 normal 1.6rem "Roboto", sans-serif;
  display: flex;
  align-items: center;
  min-width: 480px;
  max-width: 597px;
  height: 62px;
  background-color: #ffffff;
  color: #A1A1A1;
  border-radius: 31px;
  padding: 0 3px 0 42px;
}
@media screen and (max-width: 1130px) {
  .searchForm {
    align-self: center;
  }
}
@media screen and (max-width: 640px) {
  .searchForm {
    min-width: 80%;
  }
}
.searchForm__inputField {
  flex-grow: 1;
}
.searchForm__button {
  width: 55px;
  height: 55px;
}

.subscription {
  display: flex;
  align-items: center;
  color: #7C7C7C;
  font: 400 normal 1.6rem "Roboto", sans-serif;
}

.subscription__users {
  display: flex;
}

.subscription__listItem:nth-child(1) {
  z-index: 0;
}

.subscription__listItem:nth-child(2) {
  z-index: -1;
  margin-left: -18px;
}

.subscription__listItem:nth-child(3) {
  z-index: -2;
  margin-left: -18px;
}

.subscription__listItem:nth-child(4) {
  z-index: -3;
  margin-left: -18px;
}

.subscription__paragraph {
  margin-left: 10px;
}
@media screen and (max-width: 400px) {
  .subscription__paragraph {
    margin-left: 5px;
    font-size: 1.4rem;
  }
}

.subscription__priceLink {
  margin-left: 5px;
}
@media screen and (max-width: 400px) {
  .subscription__priceLink {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1130px) {
  .solarPositionWrapper {
    display: none;
  }
}

.solarSystem {
  width: 100%;
  height: 100%;
  position: relative;
}

.solarSystem__greenCircle {
  position: absolute;
  z-index: -2;
  top: 120px;
  left: 85px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #48B774;
}

.solarSystem__trajectory {
  position: absolute;
  z-index: -4;
  top: 0;
  left: 0;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 2px solid #E8E8E8;
}

.solarSystem__planetPositionWrapper {
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 50%;
}
.solarSystem__planetPositionWrapper_posOne {
  animation-name: posOne, rotateOne;
  animation-delay: 0s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posOne > .solarSystem__flagWrapper {
  animation-name: planetOne, selfBalanceOne;
  animation-delay: 0s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posTwo {
  animation-name: posTwo, rotateTwo;
  animation-delay: 0.4s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posTwo > .solarSystem__flagWrapper {
  animation-name: planetTwo, selfBalanceTwo;
  animation-delay: 0.4s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posThree {
  animation-name: posThree, rotateThree;
  animation-delay: 0.8s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posThree > .solarSystem__flagWrapper {
  animation-name: planetThree, selfBalanceThree;
  animation-delay: 0.8s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posFour {
  animation-name: posFour, rotateFour;
  animation-delay: 1.2s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posFour > .solarSystem__flagWrapper {
  animation-name: planetFour, selfBalanceFour;
  animation-delay: 1.2s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posFive {
  animation-name: posFive, rotateFive;
  animation-delay: 1.6s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posFive > .solarSystem__flagWrapper {
  animation-name: planetFive, selfBalanceFive;
  animation-delay: 1.6s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posSix {
  animation-name: posSix, rotateSix;
  animation-delay: 2s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}
.solarSystem__planetPositionWrapper_posSix > .solarSystem__flagWrapper {
  animation-name: planetSix, selfBalanceSix;
  animation-delay: 2s, 5s;
  animation-duration: 3s, 60s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
  animation-timing-function: ease, linear;
}

.solarSystem__flagWrapper {
  margin: -50px auto 0 auto;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.woman {
  position: absolute;
  bottom: -155px;
  right: 90px;
  height: 557px;
  z-index: -1;
}

@keyframes posOne {
  from {
    transform: rotate(0deg);
    padding-top: 50%;
  }
  to {
    transform: rotate(0deg);
    padding-top: 0%;
  }
}
@keyframes posTwo {
  from {
    transform: rotate(0deg);
    padding-top: 50%;
  }
  to {
    transform: rotate(60deg);
    padding-top: 0%;
  }
}
@keyframes posThree {
  from {
    transform: rotate(0deg);
    padding-top: 50%;
  }
  to {
    transform: rotate(120deg);
    padding-top: 0%;
  }
}
@keyframes posFour {
  from {
    transform: rotate(0deg);
    padding-top: 50%;
  }
  to {
    transform: rotate(180deg);
    padding-top: 0%;
  }
}
@keyframes posFive {
  from {
    transform: rotate(0deg);
    padding-top: 50%;
  }
  to {
    transform: rotate(240deg);
    padding-top: 0%;
  }
}
@keyframes posSix {
  from {
    transform: rotate(0deg);
    padding-top: 50%;
  }
  to {
    transform: rotate(300deg);
    padding-top: 0%;
  }
}
@keyframes planetOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes planetTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-60deg);
  }
}
@keyframes planetThree {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-120deg);
  }
}
@keyframes planetFour {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes planetFive {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-240deg);
  }
}
@keyframes planetSix {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-300deg);
  }
}
@keyframes rotateOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateTwo {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(420deg);
  }
}
@keyframes rotateThree {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(480deg);
  }
}
@keyframes rotateFour {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(540deg);
  }
}
@keyframes rotateFive {
  from {
    transform: rotate(240deg);
  }
  to {
    transform: rotate(600deg);
  }
}
@keyframes rotateSix {
  from {
    transform: rotate(300deg);
  }
  to {
    transform: rotate(660deg);
  }
}
@keyframes selfBalanceOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes selfBalanceTwo {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(-420deg);
  }
}
@keyframes selfBalanceThree {
  from {
    transform: rotate(-120deg);
  }
  to {
    transform: rotate(-480deg);
  }
}
@keyframes selfBalanceFour {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(-540deg);
  }
}
@keyframes selfBalanceFive {
  from {
    transform: rotate(-240deg);
  }
  to {
    transform: rotate(-600deg);
  }
}
@keyframes selfBalanceSix {
  from {
    transform: rotate(-300deg);
  }
  to {
    transform: rotate(-660deg);
  }
}

/*# sourceMappingURL=style.css.map */
