.header{
    display: flex;
    align-items: center;
    padding-top: 3rem;
}

.header__menuButton{
    display: none;
}

.header__menu{
    margin-left: 26.7rem;
}

.header__button{
    margin-left: auto;
}