.promo{}

.promo__h1{
    @media screen and (max-width:1130px) {
        text-align: center;
    }
}

.promo__paragraph{
    @include fontPoppinsMedium(1.5rem);
    color: $paragraph-text-color;
    margin-top: 6px;
    width: 444px;
    line-height: 2.6rem;

    @media screen and (max-width:1130px) {
        margin-top: 31px;
        text-align: center;
    }
    @media screen and (max-width: 640px) {
        width: 80%;
        text-align: justify;
    }
}

.promo__button{
    margin-top: 31px;
}