.solarPositionWrapper{
    @media screen and (max-width: 1130px) {
        display: none;
    }
}

.solarSystem{
    width:100%;
    height: 100%;
    position: relative;
}

.solarSystem__greenCircle{
    position: absolute;
    z-index: -2;
    top: 120px;
    left: 85px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: $main-color-first;
}


.solarSystem__trajectory{
    position: absolute;
    z-index: -4;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 2px solid #E8E8E8;
}

.solarSystem__planetPositionWrapper{
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50%;

    &_posOne{
        animation-name: posOne, rotateOne;
        animation-delay: 0s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }
    &_posOne>.solarSystem__flagWrapper{
        animation-name: planetOne, selfBalanceOne;
        animation-delay: 0s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }

    &_posTwo{
        animation-name: posTwo, rotateTwo;
        animation-delay: 0.4s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }
    &_posTwo>.solarSystem__flagWrapper{
        animation-name: planetTwo, selfBalanceTwo;
        animation-delay: 0.4s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }

    &_posThree{
        animation-name: posThree, rotateThree;
        animation-delay: 0.8s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }
    &_posThree>.solarSystem__flagWrapper{
        animation-name: planetThree, selfBalanceThree;
        animation-delay: 0.8s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }

    &_posFour{
        animation-name: posFour, rotateFour;
        animation-delay: 1.2s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }
    &_posFour>.solarSystem__flagWrapper{
        animation-name: planetFour, selfBalanceFour;
        animation-delay: 1.2s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }

    &_posFive{
        animation-name: posFive, rotateFive;
        animation-delay: 1.6s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }
    &_posFive>.solarSystem__flagWrapper{
        animation-name: planetFive, selfBalanceFive;
        animation-delay: 1.6s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }

    &_posSix{
        animation-name: posSix, rotateSix;
        animation-delay: 2s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }
    &_posSix>.solarSystem__flagWrapper{
        animation-name: planetSix, selfBalanceSix;
        animation-delay: 2s, 5s;
        animation-duration: 3s, 60s;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards, none;
        animation-timing-function: ease, linear;
    }
}

.solarSystem__flagWrapper{
    margin: -50px auto 0 auto;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.woman{
    position: absolute;
    bottom: -155px;
    right: 90px;
    height: 557px;
    z-index: -1;
}


// #region Animations to place planets
@keyframes posOne{
    from {
        transform: rotate(0deg);
        padding-top: 50%;
    }

    to {
        transform: rotate(0deg);
        padding-top: 0%;
    }
}
@keyframes posTwo{
    from {
        transform: rotate(0deg);
        padding-top: 50%;
    }

    to {
        transform: rotate(60deg);
        padding-top: 0%;
    }
}
@keyframes posThree{
    from {
        transform: rotate(0deg);
        padding-top: 50%;
    }

    to {
        transform: rotate(120deg);
        padding-top: 0%;
    }
}
@keyframes posFour{
    from {
        transform: rotate(0deg);
        padding-top: 50%;
    }

    to {
        transform: rotate(180deg);
        padding-top: 0%;
    }
}
@keyframes posFive{
    from {
        transform: rotate(0deg);
        padding-top: 50%;
    }

    to {
        transform: rotate(240deg);
        padding-top: 0%;
    }
}
@keyframes posSix{
    from {
        transform: rotate(0deg);
        padding-top: 50%;
    }

    to {
        transform: rotate(300deg);
        padding-top: 0%;
    }
}
// #endregion

// #region Animations for balance self-rotate
@keyframes planetOne{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(0deg);
    }
}
@keyframes planetTwo{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-60deg);
    }
}
@keyframes planetThree{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-120deg);       
    }
}
@keyframes planetFour{
    from {
        transform: rotate(0deg);   
    }

    to {
        transform: rotate(-180deg);   
    }
}
@keyframes planetFive{
    from {
        transform: rotate(0deg);    
    }

    to {
        transform: rotate(-240deg);   
    }
}
@keyframes planetSix{
    from {
        transform: rotate(0deg);   
    }

    to {
        transform: rotate(-300deg);   
    }
}
// #endregion

// #region Animations for rotating planets on the trajectory
@keyframes rotateOne{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateTwo{
    from {
        transform: rotate(60deg);
    }

    to {
        transform: rotate(420deg);
    }
}
@keyframes rotateThree{
    from {
        transform: rotate(120deg);
    }

    to {
        transform: rotate(480deg);
    }
}
@keyframes rotateFour{
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(540deg);
    }
}
@keyframes rotateFive{
    from {
        transform: rotate(240deg);
    }

    to {
        transform: rotate(600deg);
    }
}
@keyframes rotateSix{
    from {
        transform: rotate(300deg);
    }

    to {
        transform: rotate(660deg);
    }
}
// #endregion

// #region Animations for balance self-rotate within trajectory rotating

@keyframes selfBalanceOne{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
@keyframes selfBalanceTwo{
    from {
        transform: rotate(-60deg);
    }

    to {
        transform: rotate(-420deg);
    }
}
@keyframes selfBalanceThree{
    from {
        transform: rotate(-120deg);
    }

    to {
        transform: rotate(-480deg);
    }
}
@keyframes selfBalanceFour{
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(-540deg);
    }
}
@keyframes selfBalanceFive{
    from {
        transform: rotate(-240deg);
    }

    to {
        transform: rotate(-600deg);
    }
}
@keyframes selfBalanceSix{
    from {
        transform: rotate(-300deg);
    }

    to {
        transform: rotate(-660deg);
    }
}

// #endregion