.subscription{
    display: flex;
    align-items: center;
    color: $paragraph-text-color;
    @include fontRobotoRegular(1.6rem);
}
.subscription__users{
    display: flex;
}

.subscription__listItem:nth-child(1) {
    z-index: 0;
}
.subscription__listItem:nth-child(2) {
    z-index: -1;
    margin-left: -18px;
}
.subscription__listItem:nth-child(3) {
    z-index: -2;
    margin-left: -18px;
}
.subscription__listItem:nth-child(4) {
    z-index: -3;
    margin-left: -18px;
}

.subscription__paragraph{
    margin-left: 10px;

    @media screen and (max-width: 400px) {
        margin-left: 5px;
        font-size: 1.4rem;
    }
}
.subscription__priceLink{
    margin-left: 5px;
    @media screen and (max-width: 400px) {
        font-size: 1.4rem;
    }
}