html{
    scroll-behavior: smooth;  
    font-size: $base-font-size;
}
body{
    @include fontPoppinsRegular(1.6rem);
    background-color: $background-color;
	margin: 0 auto;
	overflow-x: hidden;
    scroll-behavior: smooth;  
    // overflow: hidden;
}
.wrapper{
    max-width: 1400px;
    padding: 0 14.6rem;
    height: 100vh;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
        padding: 0 10vw;        
    }
    @media screen and (max-width: 550px) {
        padding: 0 5vw;        
    }
}
h1{
    @include fontPoppinsBold(4.8rem);
    line-height: 6.5rem;
    color: $heading-text-color;

    @media screen and (max-width: 640px) {
        @include fontPoppinsBold(3.5rem);
        line-height: 4.5rem;     
    }
    @media screen and (max-width: 385px) {
        @include fontPoppinsBold(3rem);
        line-height: 4rem;
    }
}
h2{
    @include fontPoppinsMedium(2.5rem);
    color: $heading-text-color;
}
.span_orange{
    color: $main-color-second
}
.no-display{
    display: none;
}