//color
$main-color-first: #48B774;
$main-color-second: #FF8345;
$background-color: #ECF7F3;
$menu-text-color: #4A4A4A;
$heading-text-color: #2D2D2D;
$paragraph-text-color: #7C7C7C;
$add-text-color: #A1A1A1;
$button-text-color: #FFFFFF;

//font size
$base-font-size: 10px;